{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h3 align="center">Notes</h3>
<ul class="list-group">
    {% for note in user.notes %}
    <li class="list-group-item">{{ note.data }}</li>
    <!-- <li class="list-group-item"><span class="badge">5</span> Deleted</li>
    <li class="list-group-item"><span class="badge">3</span> Warnings</li> -->
    {% endfor %}
</ul>
<form class="form-vertical" role="form" method="POST">
    <div class="form-group">
        <textarea name="note" id="note" class="form-control"></textarea>
        <br> 
        <div align ="center">
            <button type="submit" class="btn btn-primary">Add note</button>
        </div>
    </div>
  </form>
{% endblock %}